h2 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-top: -22px;
}

h3 {
  margin-bottom: 0.5em;
  font-weight: 500;
}

.services-container {
  display: flex;
  align-items: flex-start;
  padding: 2em 0px;
  height: 93vh;
  background-color: #e0f9ff;
  padding-block: 4em;
  overflow: hidden;
  box-sizing: border-box;
}

.services_content {
  text-align: left;
  padding-inline: 4em;
  width: 50%;
}

span.services-image {
  width: 50%;
  overflow: hidden;
}

.service_description {
  border-bottom: 2.5px solid #01819d;
  width: 50%;
}

.service-item {
  color: #01819d;
  padding-right: 0.5em;
}

.services-image img {
  height: calc(100vh - 12em);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

.service_description-wrapper {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.service_description-wrapper.open {
  max-height: 200px;
  opacity: 1;
}
