h2 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-top: -22px;
  margin-bottom: 0.2em;
}

.location_container {
  width: 100%;
  padding-block: 4em;
  /* height: 95vh; */
  box-sizing: border-box;
}

.location_content {
  display: flex;
  gap: 4em;
  text-align: left;
  box-sizing: border-box;
  height: 40vh;
}

.location_content p {
  margin: 0px;
}

.location_content span {
  width: 50%;
  box-sizing: border-box;
  overflow: hidden;
}

.location_container div img {
  width: calc(100% - 2em);
  object-fit: cover;
}

.carrousel {
  padding-top: 4em;
  padding-inline: 4em;
  box-sizing: border-box;
  display: block;
}

.carrousel h2 {
  text-align: left;
  letter-spacing: -1px;
}
