@font-face {
  font-family: "GoogleSansCode";
  src: url("../../assets/fonts/GoogleSansCode-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "GoogleSansCode";
  src: url("../../assets/fonts/GoogleSansCode-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
