@font-face {
  font-family: "GoogleSansCode";
  src: url("../../assets/fonts/GoogleSansCode-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "GoogleSansCode";
  src: url("../../assets/fonts/GoogleSansCode-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

header {
  width: 100%;
  padding: 20px;
  z-index: 100;
  background-color: #01819d;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span.nav_icon {
  display: flex;
}

.nav_logo {
  color: white;
  font-size: 1.7em;
  text-transform: uppercase;
  font-family: "GoogleSansCode", sans-serif;
  display: inline-flex;
  width: 10%;
  text-align: left;
  line-height: 1em;
}

.nav_icon {
  align-items: center;
}

.nav_icon img {
  height: 60px;
  margin-right: 2px;
  cursor: pointer;
}

.nav_icon img.user_icon {
  height: 50px;
  width: auto;
  margin-right: 0px;
}
