#root {
  text-align: center;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: #162430;
}

.download-link {
  display: block;
  font-weight: bolder;
  color: rgb(1, 129, 157);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.download-link:hover {
  font-size: 0.9em;
  font-weight: bold;
}
