.WorkWithMe_container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  background-color: #e0f9ff;
}

.WorkWithMe_container span {
  width: 50%;
}

.WorkWithMe_content {
  text-align: left;
  padding: 4em;
  overflow: hidden;
}

.WorkWithMe_content p {
  margin-bottom: 1em;
}

.WorkWithMe_content form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.WorkWithMe_content form input,
.WorkWithMe_content form select,
.WorkWithMe_content form textarea {
  padding: 0.7em;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 15px;
  border: none;
}

.WorkWithMe_content form label {
  margin-bottom: -10px;
}

.WorkWithMe_content form textarea {
  height: 6em;
  resize: none;
}

.WorkWithMe_content form button {
  width: 40%;
  margin-top: 1em;
}

.WorkWithMe_img img {
  width: 100%;
}
